Enter file contents heredsde
the morder age
The popularlation
vital information
when i need
affordable way
incentineous
fork over something
What of negative aspect
who there
finally internet hacker, aspect,It's easy to me, quickly,
remain anonomus be my self
geniunly
interact
cyber bully I'm stop of 
anonomious incesent is 
How do you use
skim at the office, at night tv show!! internet junkey
on a daily basis, spring out of bed, pullous, skim over something, in company, kick back, hit the sack, around
technology
describe this graph
according the graph
defict, represent, whopping, be afford to, temble, 
some what, inconsiquencial, attribute, whatever case may be, anticipated, espacially, current moment, 
proportion, project, markly, crucial, substantial, popare with, shoot up, appear, 
highend, procecing power, resilliant, on top of that, take advantage, subsite, service provider, 
feature, lowend, smart phones, high resolution, long battery life, 
inhenced features, lowend, wireless, mid range, water resistence, high resolution, brouse, 
avilable, listen, one cup of tea, indorse, functional, high tech, smart watch, typing error, be out of touch,
demention, make something for , dayoff, 
crucial, daily life, 
